<section id="home">
            
    <h1>Olá, Meus Amigos &#128075;</h1>

    <p>A ideia desse projeto é reunir em uma só plataforma todas as ferramentas desenvolvidas para auxiliar nas nossas tarefas diárias, já que variarias dessas tarefas são feitas de forma manual, decentralizadas e sem persistência nos dados. O "Quebra" Galho procura ajudar nem que seja um pouco a trazer mais performasse ao trabalho.</p>
    <p>Que essa plataforma seja mais que um sistema, seja uma forma de nos manter conectados sempre!!!</p>
</section>