<section id="login">
    <div class="header-login">
        <h3>LOGAR NO SISTEMA</h3>
    </div>

    <form id="form" class="form">
        <div class="form-content">
            <label for="lblUsuario">Usuário:</label>
            <input type="text" id="inputUsuario" name="inputUsuario" placeholder="Digite o nome do usuário...">
            <a>mensagem de erro...</a>
        </div>

        <div class="form-content">
            <label for="lblSenha">Senha:</label>
            <input type="password" id="inputSenha" name="inputSenha" placeholder="Digite sua Senha...">
            <a>mensagem de erro...</a>
        </div>

        <div class="form-content">
            <button type="button" id="btnEntrar">ENTRAR</button>
        </div>
    </form>

</section>